<%- include('partials/header') -%>

<h1>Compose</h1>
<p><strong>Title</strong></p>
<form class="" action="/compose" method="post">
  <input class="titleInput" type="text" name="title" value="" autocomplete="off">

  <p><strong>Post</strong></p>
  <textarea class="postInput" name="post" rows="5"></textarea>
  <button type="submit" class="btn btn-primary publish">Publish</button>
</form>



<%- include('partials/footer') -%>
