<%- include('partials/header') %>

<form action="/login" method="POST">
  <div class="login-box">
    <h1> Login </h1>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="email" placeholder="Username" name="username" value="">
    </div> 

    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" name="password" value="">
    </div>
    
    <button type="submit" class="btn">Login</button>

    <hr>
    <p class="or"> OR </p>

    <a class="btn socialBtn" href="/auth/google" role="button">
      <img src="http://pngimg.com/uploads/google/google_PNG19635.png" class="logo">
      Login with Google
    </a>

    <a class="btn socialBtn" href="/auth/facebook" role="button">
      <img src="http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19753.png" class="logo">
      Login with Facebook
    </a>
  </div>
</form>




<%- include('partials/footer') %>
